/* Shared */
.container {
  max-width: 900px;
  margin: 0 16px;
}

/* Header */
.headerWrapper {
  padding: 16px 16px 32px 16px;
}
.loginButton {
  cursor: pointer;
}
.loginButton:hover {
  text-decoration: underline;
}

/* Down Button */
.downButtonBG {
  background-color: gray;
  opacity: 80%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
}
.downButtonBG:hover {
  transform: scale(1.08);
}

/* Hero */
.heroGrid {
  display: grid;
  margin-top: 128px;
  margin-bottom: 128px;
  grid-template-columns: 6fr 4fr;
  column-gap: 64px;
  row-gap: 16px;
  grid-template-rows: auto auto auto auto;
  align-content: space-around;
  grid-template-areas:
    'title  title'
    '.      image'
    'desc   image'
    'list   image'
    'button image'
    '.      image';
  justify-items: center;
}
@media (max-width: 719px) {
  .heroGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      'title'
      'image'
      'desc'
      'list'
      'button';
  }
}
.heroImage {
  grid-area: image;
  align-self: center;
  width: 100%;
}
@media (max-width: 719px) {
  .heroImage {
    max-width: 50%;
  }
}
.heroHeader {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  grid-area: title;
}
@media (min-width: 720px) {
  .heroHeader {
    font-size: 58px;
  }
}
.heroText {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  grid-area: desc;
}
.heroList {
  grid-area: list;
  padding-left: 0;
  margin: 0;
}
.heroList li {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}
.heroList li:before {
  content: '✓ ';
}
.heroButton {
  grid-area: button;
  transition: all 0.2s
}
.heroButton:hover {
  transform: scale(1.03);
}

/* Why Anket */
.whyAnketBG {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #EBFBEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.whyAnketHeader {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
}
.whyAnketText {
  font-family: 'Open Sans', sans-serif;
  text-align: 'center';
}

/* Cards */
.cardGroup {
  margin-bottom: 64px;
}
.cardOuter {
  transition: all 0.2s;
}
.cardOuter:hover {
  transform: scale(1.03);
}
.card {
  text-align: center;
}
@media (max-width: 719px) {
  .card {
    padding: 48px;
  }
}
.cardImageWrapper {
  padding: 16px;
}
.card h3 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}
.card span {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* ComparisonSection */
.comparisonBg {
  padding-top: 128px;
  padding-bottom: 128px;
}
.comparisonGrid {
  display: grid;
  /* margin-bottom: 64px; */
  grid-template-columns: 4fr 6fr;
  column-gap: 64px;
  row-gap: 16px;
  grid-template-rows: auto auto auto auto;
  align-content: space-around;
  grid-template-areas:
    'image .     '
    'image title '
    'image desc  '
    'image list  '
    'image button'
    'image .     ';
  justify-items: center;
}
@media (max-width: 719px) {
  .comparisonGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      'title'
      'image'
      'desc'
      'list'
      'button';
  }
}
.comparisonHeader {
  grid-area: title;
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: 36px;
}
.comparisonText {
  grid-area: desc;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.comparisonImage {
  grid-area: image;
  align-self: center;
  width: 100%;
}
@media (max-width: 719px) {
  .comparisonImage {
    max-width: 50%;
  }
}
.comparisonList {
  grid-area: list;
  padding-left: 0;
  margin: 0;
}
.comparisonList li {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}
.comparisonList li:before {
  content: '✓ ';
}
.comparisonButton {
  grid-area: button;
  transition: transform 0.2s;
}
.comparisonButton:hover {
  transform: scale(1.03);
}
/* Last Call To Action */
.lastCtaBg {
  padding: 128px 16px;
  background-color: rgb(255, 224, 27);
}
.lastCtaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  row-gap: 32px;
  align-items: center;
  align-content: space-around;
  grid-template-areas:
    ".      image"
    "title  image"
    "button image"
    ".      image";
}
@media (max-width: 719px) {
  .lastCtaGrid {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "image"
      "button";
  }
}
.lastCta {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  grid-area: title;
  font-size: 48px;
}
.lastCtaButton {
  grid-area: button;
  transition: transform 0.2s;
}
.lastCtaButton:hover {
  transform: scale(1.05);
}
.lastCtaImage {
  grid-area: image;
  align-self: center;
  width: 100%;
}
/* Footer */
.footerText {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 16px;
}
